@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
html, body{
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    color: $mainText;
    font-weight: 700;
  }
  
  
  a{
    text-decoration: none;
    color: #17a2b8;
  }
  
  h1{ font-size: 56px; }
  h2{ font-size: 36px; }
  h3{ font-size: 28px; }
  h4{ font-size: 24px; }
  h5{ font-size: 20px; }
  h6{ font-size: 16px; }


p, li, span, label, input, textarea{
    color: $secondaryText;
    font-family: 'IBM Plex Mono', monospace;
  }