
$mainColor: #15202B;
$secondaryColor: #192734;

$borderColor: #164D56;



$mainText: #fff;
$secondaryText: #eeeeee;

$themeDotBorder: #FFF;

$accentColor: #15dea5;
$previewBg: rgb(25, 39, 52, 0.8);
$previewShadow: #111921;

$buttonColor: #17a2b8;


$shadow-color: black;


