$mainText: #121212;
$secondaryText: #4b5156;
$accentColor: #15dea5;
$previewBg: rgb(251, 249, 243, 0.8);

$borderColor: #c1c1c1;
$themeDotBorder: #24292e;

$mainColor: #eaeaea;
$secondaryColor: #fff;
$shadow-color: black;
$previewShadow: #f0ead6;




