.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper{
    border-radius: 5px 5px 0 0;
    background-color: $secondaryColor;
    border: 1px solid $borderColor;
    @include box-shadow(-1px 1px 3px -1px rgba($shadow-color, .75));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper' 'left-column right-column'
    ;
    @include responsive (desktop) {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper' 
            'left-column' 
            'right-column'
        ;
        
      }
}

.nav-wrapper{
    background-color: $mainColor;
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid $borderColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation{
    margin: 0;
    padding: 10px;
    li{
        display: inline-block;
        margin: 0 5px 0 5px;
    }
}


.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color: #FC6058;
}

#dot-2{
    background-color: #FEC02F;
}

#dot-3{
    background-color: #2ACA3E;
}


.browser-dot{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    @include box-shadow(-1px 1px 3px -1px rgba($shadow-color, .75));
    margin: 5px;
}

.left-column{
    padding: 50px 0 50px 0;
    grid-area: left-column;
}

#profile-pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200;
    object-fit: cover;
    border: 2px solid $borderColor;
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    @include box-shadow(-1px 1px 3px -1px rgba($shadow-color, .75));
    cursor: pointer;
    margin: 5px;
    border: 2px solid $themeDotBorder;
    &:hover{
        border-width: 5px;
    }
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #78866B;
}

#purple-mode{
    background-color: #7E4C74;
}

#settings-note{
    font-size: .75rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    @include responsive (desktop) {
        justify-content: center;
      }
}

#preview-shadow{
    background-color: $previewShadow;
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: $previewBg;
    padding: 15px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl{
    top: -5px;
    left: -5px;
}

#corner-tr{
    top: -5px;
    right: -5px;
}

#corner-br{
    bottom: -5px;
    right: -5px;
}

#corner-bl{
    bottom: -5px;
    left: -5px;
}